.sidebarOptions {
    display: flex;
    flex-direction: column;
}

.sidebarOption {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarOption:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.sidebarOption > img {
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
}

.sidebarOption > p {
    font-weight: 400;
    margin-left: 10px;
    color: #554D5E;
}

