@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: url("http://qsfs.fs.quoracdn.net/-4-images.home.illo_1920.png-26-e9e6fbe02d908942.png"); */
}

.login_container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 700px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
}

.login_logo{
    display: flex;
    justify-content: center;
}

.login_desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_desc > h3{
    margin-top: 10px;
    text-align: center;
    font-size: xx-large;
    font-family: "Cedarville Cursive", cursive;
}

.login_desc > p{
    color: gray;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}

.login_auth{
    display: flex;
    margin-top: 50px;
}

.login_authOptions{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.login_authOption{
    display: flex;
    align-items: center;
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}

.login_authOption:hover{
    background-color: rgb(256,256,256);
}

.login_authOption > img{
    height: 30px;
    object-fit: contain;
}

.login_authOption > p{
    margin-left: 11px;
}

.login_authDesc{
    display: flex;
    align-items: center;
    padding: 7px;
    margin-bottom: 15px;
}

.login_authDesc > p {
    font-size: small;
    color: gray;
}

.login_emailPass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    flex: 0.5;
    margin-left: 20px;
}

.login_label > h4{
    padding: 5px;
}

.login_inputFields{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.login_inputField{
    padding: 5px;
}

.login_inputField > input{
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    background-color: rgb(236,236,236);
}

.login_forgot{
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login_forgot > small{
    color: gray;
    cursor: pointer;
}

.login_forgot > small:hover{
    color: blue;
    text-decoration: underline;
}

.login_forgot > button{
    padding: 9px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.login_emailPass > button{
    padding: 9px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.login_lang{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 30px;
    padding: 10px;
}

.login_lang{
    color: gray;
    margin-right: 5px;
    cursor: pointer;
    font-size: 13px;
}

.login_lang > p:hover{
    color: gray;
    margin-top: 5px;
    text-decoration: underline;
}

.login_lang > .MuiSvgIcon-root {
    color: gray;
}

.login_footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login_footer > p{
    color: gray;
    font-size: small;
    cursor: pointer;
}

.login_footer > p:hover{
    text-decoration: underline;
}








